:root {
    --dark: #000;
    --light: #fff;
    --accent-color: #BEBEBE;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    /* Must match footer height */
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

li.heading {
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 1.3em;
}

.btn-outline-primary {
    color: #000 !important;
    border-color: #000 !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #000 !important;
}

.btn.faded {
    pointer-events: none;
}

/* Navbar styling */

.navbar {
    background-color: var(--dark);
}

.navbar a {
    color: var(--light)
}

.navbar a:hover {
    color: var(--accent-color)
}

/* Jumbotron styles */
.jumbotron {
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)), linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)), url('../images/me.jpeg');
    background-position: center left, center right, center right;
    background-repeat: no-repeat;
    background-size: 51% auto, 50% auto, 50% auto;
    color: var(--light);
    border-radius: 0px;
}

/* Jumbotron styles */
.jumbotron h1 span {
    position: relative;
    top: -30px;
    left: 30px;
}

.jumbotron .lead {
    padding-left: 15px;
}

/* Custom card styling */
.card {
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work, .skills-about {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Add some extra padding to the final div */
.skills-about .col-sm-12 {
    padding: 15px;
}

/* Styling the skills section */
section.skills-section {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 5px;
    margin: 5px;
}

/* Footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

/* Hero styling for small screens  */

@media screen and (max-width:800px){
    .jumbotron {
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/me.jpeg');
        background-position: center;
        background-size: cover, cover;
    }
}

